.login-header-index {
    height: 97px;
    background-color: #d32323;
    padding: 12px 0px;
    display: flex;
}

.index-tab-bar {
    height: 41px;
    border-bottom: 1px solid #e6e6e6;
    background: #FAFAFA;
}

.index-title-bar {
    background-color: #f5f5f5;
    border-bottom: 1px solid #e6e6e6;
    height: 89px;
    display: flex;
    align-items: center;
    font-size: 21px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    position: relative;
    /* justify-content: flex-start; */
}

.index-title-bar p {
    position: relative;
    left: 100px;
}

.index-item-container {
    /* background: grey; */
    /* width: 642px; */
    /* height: 500px; */
    font-size: 20px;
    position: relative;
    /* left: 18%; */
    display: flex;
    justify-content: center;
}

.index-single-container {
    height: 247px;
    background: transparent;
    border-top: 1px solid #e6e6e6;
    display: flex;
    position: relative;
    right: 45%;
    /* width: 1000px; */
    /* align-items: center; */
}

.index-single-center {
    height: 210px;
    background: green;
}

.index-image {
    box-sizing: border-box;
    margin-top: auto;
    margin-bottom: auto;
    border: 2px solid black;
    display: flex;
    height: 210px;
    align-items: center;
    width: 210px;
    border-radius: 4px;
    object-fit: cover;
}

.index-info {
    margin-top: 24px;
    /* margin-left: 20px; */
    display: flex;
    /* justify-content: space-between; */
    width: 500px;
}

.index-info-name {
    display: flex;
    flex-direction: column;
}

#price {
    margin-top: 10px;
    
}

.index-top{
    display: flex;
    flex-direction: column;
    margin-left: 20px
}

.index-length {
    display: flex;
    justify-content: space-between;
    width: 500px;
}

.index-name {

    font-family: sans-serif;
    font-size: 16px;
    font-weight: 700;
    display: flex;
}

.index-name a {
    color: #0073bb;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
}


.index-address {
    font-family: sans-serif;
    font-size: 14px;
    text-align: center;
}

.index-main-body {
    height: 200%;
}

#map {
    /* height: 550px; */
    height: 70%;
    width: 30%;
    position: fixed;
    left: 60%;
    /* z-index: -1; */
}

#map:hover {
    
    transform: translateX(-500px) translateY(-100px) scale(1.35);
    transition: 1s;
}

.index-review-area {
    position: relative;
    top: 50px;
    font-family: sans-serif;
    font-size: 14px;
    color: #333333;
}

.right-nav-index {
   display: flex;
    justify-content: flex-end;
    padding-top: 20px;
     width: 56.5%;
    position: relative;
    left: 13%; 
    top: 5px;
    /* left: 1px; */
}