



.login-header {
    height: 100px;
    background-color: #d32323;
    padding: 12px 0px;
}

.login-logo {
    background-image: url('https://i.imgur.com/O22tB8P.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 15%;
    height: 85px;
    /* margin-right: 50px; */
    /* position: relative; */
    /* left: 650px; */
}

.login-header a {
   position: relative;
   left: 50%;
   height: 60px;
   width: 60px;
   display: flex;
    justify-content: center;
}

.login-top {
    display: flex;
    justify-content: center;
}

.login-main { 
    width: 300px;
    height: 360px;
    margin: auto;
    /* padding: 0px 5px; */
    text-align: center;

    
}

.login-title {
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    color: #d32323;
}

.login-subtitle {
    font-size: 14px;
}


.login-form [type="text"],
.login-form [type="email"],
.login-form [type="password"] {
    display: block;
    font-size: 14px;
    margin: 0 0 9px;
    padding: 5px 9px;
    width: 100%;
    background: #fff;
    border: 1px solid #999;
    border-radius: 3px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}




.login-form input[type='submit'] {
    font-size: 16px;
    font-weight: 700;
    width: 100%;
    padding: 12px 0;
    margin-top: 8px;
    line-height: 1.3125em;
    color: white;
    border: 1px solid #8d0005;
    border-radius: 3px;
    background-color: #db0e0e;
    box-shadow: 0 1px 1px rgba(0,0,0,0.3);
    box-sizing: border-box;
    font-family: sans-serif;
}

.demo-log {
    font-size: 16px;
    font-weight: 700;
    width: 100%;
    padding: 12px 0;
    margin-top: 8px;
    line-height: 1.3125em;
    color: white;
    border: 1px solid #8d0005;
    border-radius: 3px;
    background-color: #db0e0e;
    box-shadow: 0 1px 1px rgba(0,0,0,0.3);
    box-sizing: border-box;
    font-family: sans-serif;
}




.login-picture {
    margin-top: 100px;
    width: 650px;
    left: 95px;
    height: 550px;
    overflow: hidden;
}



.login-errors {
    background-color: #fcd6d3;
    width: 80%;
    height: 40%;    
    border-radius: 3px;
    font-size: 16px;
    position: relative;
    left: 20%;
    top: 20px;
}

.login-header-index {
    height: 64px;
    background-color: #d32323;
    padding: 12px 0px;
    display: flex;
    justify-content: center;
}


.login-header-mid {
    display: flex;
    align-items: center;
    position: relative;
    right: 110px; 
}

@media screen and (min-width: 1400px) {
    .login-header-mid {
        display: flex;
        align-items: center;
        position: relative;
        right: 243px; 
    }  
}

.login-header-mid-two {
    display: flex;
    align-items: center;
    position: relative;
    right: 110px; 
}


