.review-form-body {
    /* background: grey; */
    resize: none;
    min-height: 258px;
    width: 625px;
    border: 1px solid #e6e6e6;
}

.review-form-container {
    /* width: 625px; */
    height: 570px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
}

.review-form-title {
     margin-bottom: 15px;
    margin-top: 15px;
}

.review-form-title a{
    font-size: 36px;
    color: #0073bb;
    font-weight: 700;
    text-decoration: none;

}

.review-form-button {
    background-color: #d32323;
    text-decoration: none;
    border-radius: 4px;
    width: 242px;
    height: 50px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    user-select: none;
    font-family:  Helvetica;
    text-align: center;
    margin-top: 15px;
}

.review-form-container-center {
    display: flex;
    justify-content: center;
}

#delete-button {
    background-color: #d32323;
    text-decoration: none;
    border-radius: 4px;
    width: 73px;
    height: 30px;
    color: white;
    font-weight: bold;
    font-size: 14px;
    user-select: none;
    font-family:  Helvetica;
    text-align: center;
    position: relative;
    left: 400px;
    top: 40px;
}
