

.list {
    display: flex;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.days {
    min-width: 36px;
    padding-right: 15px;
    font-weight: 700;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

.hours {
    font-size: 14px;
    padding-right: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.sidebar-hours-extra {
    color: #41a700;
    font-weight: 700;
    font-size: 12px;
}


.sidebar-info-item {
    display: flex;
    align-items: center;
    padding-bottom: 6px;
    font-family: Arial, Helvetica, sans-serif;
}

.sidebar-info-desc {
    margin-right: 0.5em;
    font-family: Arial, Helvetica, sans-serif;
}

.sidebar-info-info {
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
}

.sidebar-info-info {
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
}

.sidebar-container {
    margin-bottom: 60px;
    margin-left: 50px;
     border-left: 1px solid #e6e6e6;
    padding-left: 50px;
}

.title {
    font-weight: 700;
    margin-bottom: 12px;
    color: #d32323;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.sidebar-hours {
    margin-bottom: 24px;
    font-family: Arial, Helvetica, sans-serif;
}

.sidebar-list {
    font-size: 14px;
    color: #333;
}